# Go specific
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build directory
test/
build/

# Dependency directories
vendor/
Godeps/

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# VS Code specific
.vscode/
